<div class="modal-container">
    <h1 class="modal-title">Atualizar Taxa</h1>
    <div class="modal-content">
      <p>Informe a nova taxa de conversão para atualizar o sistema:</p>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Nova Taxa</mat-label>
        <input matInput type="number" [(ngModel)]="novaTaxa" />
      </mat-form-field>
    </div>
    <div *ngIf="mensagemErro" class="erro">
        {{ mensagemErro }}
    </div>
    <div class="modal-actions">
      <button mat-button color="warn" (click)="fechar()">Cancelar</button>
      <button mat-raised-button color="primary" (click)="salvar()">Atualizar</button>
    </div>
</div>
  