<div class="page-container">
    <h1 class="page-title">Consulta de Taxa</h1>
    <mat-card class="mat-elevation-z4 consulta-taxa-card">
      <mat-card-content>
        <div class="taxa-info">
          <p class="taxa-atual">
            <strong>Taxa Atual:</strong>
            <span>1 Ouro Real = {{ taxaAtual }} Tibares</span>
          </p>
        </div>
        <div class="page-container">
            <h1>Consulta de Taxa</h1>
            <p>Taxa atual de conversão: {{ taxaAtual }}</p>
            <button mat-raised-button color="primary" (click)="abrirModalAtualizarTaxa()">
              Atualizar Taxa
            </button>
          </div>
          
      </mat-card-content>
    </mat-card>
  </div>
  