/* Configuração geral */
.main-container {
  height: 100vh;
}

/* Barra de Navegação */
.toolbar {
  display: flex;
  align-items: center;
  padding: 0 16px;
  background-color: #3f51b5;
  color: white;
}

.menu-button {
  margin-right: 16px;
  color: white;
  transition: background-color 0.3s ease;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  flex-grow: 1;
  text-align: center;
}

/* Menu Lateral */
.sidenav {
  width: 250px;
  background-color: #3f51b5; /* Fundo do menu lateral */
  color: white;
}

.menu-category {
  padding: 16px;
  margin: 0;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

mat-list-item {
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

mat-list-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

mat-list-item.active {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}

/* Conteúdo Principal */
.content {
  padding: 20px;
  background-color: #f4f5f7;
  min-height: 100vh;
}

/* Botão Sanduíche */
.menu-button {
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Faz o botão ficar redondo */
  background-color: rgba(255, 255, 255, 0.1); /* Fundo levemente translúcido */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.menu-button:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Fundo mais claro no hover */
  transform: scale(1.1); /* Botão cresce levemente */
}

.menu-button:active {
  transform: scale(0.9); /* Botão reduz no clique */
}

.mat-icon {
  color: white; /* Ícone na cor branca */
  font-size: 24px; /* Tamanho do ícone */
}

/* Adiciona rotação ao ícone quando clicado */
.menu-button.active .mat-icon {
  transform: rotate(90deg); /* Gira o ícone em 90 graus */
  transition: transform 0.3s ease;
}

/* Estilo geral do modal */
.modal-card {
  max-width: 500px;
  margin: auto;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}

/* Cabeçalho do modal */
.modal-card-header {
  text-align: center;
  background-color: #e3f2fd; /* Azul claro */
  color: #333;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 16px;
  border-bottom: 1px solid #ddd;
}

/* Conteúdo do modal */
.modal-card-content p {
  margin: 8px 0;
  font-size: 14px;
  color: #555;
}

/* Ações do modal */
.modal-card-actions {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}
