/* Configuração geral do layout */
.main-container {
  height: 100vh;
}

/* Conteúdo principal */
.content {
  padding: 20px;
  background-color: #f4f5f7;
  min-height: 100vh;
}

/* Estilo do menu lateral */
mat-sidenav {
  width: 250px;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.active {
  font-weight: bold;
  color: #3f51b5;
}
