/* Container da Página */
.page-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f5f7;
    min-height: 100vh;
  }
  
  /* Cabeçalho */
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header h1 {
    font-size: 2.5rem;
    color: #3f51b5;
    margin-bottom: 10px;
  }
  
  .header p {
    font-size: 1.2rem;
    color: #666;
  }
  
  /* Cartões */
  mat-card {
    margin: 0 auto;
    max-width: 1200px;
    background: #ffffff;
  }
  
  mat-card-header {
    background-color: #e3f2fd;
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  
  mat-card-title {
    font-size: 1.5rem;
    color: #3f51b5;
  }
  
  mat-card-subtitle {
    font-size: 1rem;
    color: #777;
  }
  
  mat-table {
    width: 100%;
    margin-top: 15px;
  }
  
  mat-header-row {
    background-color: #e3f2fd;
  }
  
  mat-row:hover {
    background-color: #e0f7fa;
    cursor: pointer;
  }
  
  mat-row {
    transition: background-color 0.3s ease;
  }
  
  mat-row:hover {
    background-color: #e0f7fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Alinhamento das ações no cartão */
.transaction-card-actions {
  display: flex;
  justify-content: flex-end; /* Alinha o botão à direita */
  padding: 16px;
}

/* Botão moderno */
.modern-button {
  background-color: #3f51b5; /* Azul Material Design */
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 4px; /* Bordas arredondadas */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra leve */
  transition: all 0.3s ease; /* Transição suave */
  cursor: pointer;
}

/* Efeito ao passar o mouse */
.modern-button:hover {
  background-color: #283593; /* Azul mais escuro */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Sombra maior */
  transform: translateY(-2px); /* Eleva o botão */
}

/* Efeito ao pressionar */
.modern-button:active {
  background-color: #1a237e; /* Azul profundo */
  transform: translateY(1px); /* Reduz a elevação */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra menor */
}
